---
import BaseLayout from '../../layouts/main.astro';
import Button from '../../components/button.astro';
import { getSession, getCFPs, acceptCFP } from '../../lib/AppWrite.js';

const currentPath = Astro.url.pathname;
const { id } = Astro.params;
const cfpid = Astro.url.searchParams.get('cfp');

// if the URL variable for a CFP ID is present, we're accepting that session
if (cfpid) {
    acceptCFP(cfpid);
}

const session = await getSession(id);

if (!session) {
    return new Response(null, {
        status: 404,
        statusText: 'Not found'
    });
}


const cfps = await getCFPs(id);
---

<BaseLayout title={`Session: ${session.Title}`}>
    <div class="mx-auto mb-12 text-center md:max-w-2xl">
        <h2
            class="mb-4 text-3xl font-bold leading-tight tracking-tighter text-gray-700 md:text-5xl dark:text-gray-300">
            {session.Title}</h2>
        <div class="flex items-center justify-center">
            <p class="inline-block mr-3 text-blue-500 dark:text-blue-300">Created: {new Date(session['$createdAt']).toDateString()}</p>
            <p class="inline-block text-blue-500 dark:text-blue-300">Updated: {new Date(session['$updatedAt']).toDateString()}</p>
        </div>
    </div>
    <div class="mx-auto md:max-w-3xl">
        <div
            class="pb-10 mb-8 text-lg text-gray-500 border-b border-gray-200 dark:border-gray-600 dark:text-gray-400 md:text-xl whitespace-pre-wrap">{session.Abstract}</div>
            <h2 class="mb-4 text-2xl font-semibold text-gray-800 dark:text-gray-300 md:text-3xl">
                Submissions</h2>
        <ol
            class="mb-10 text-base text-gray-500 list-decimal list-inside md:px-5 md:text-lg dark:text-gray-400">
            {
                cfps.map((cfp) => {
                    let acceptLink = `<a href="${currentPath}?cfp=${cfp['$id']}" class="text-blue-500 dark:text-blue-300">Accepted?</a>`;
                    return (<li>{ cfp.Conference} | Submitted on: {new Date(cfp.SubmissionDate).toDateString()} | { cfp.Accepted ? "Accepted" : <span set:html={acceptLink}></span> }</li>)
                })}
        </ol>
        <Button url="/">
            Back Home
        </Button>
    </div>
</BaseLayout>